* {
  box-sizing: border-box;
}
body{
  margin: 0;
  padding: 0;
 
}
.form {
  background-image:url("/static/core/images/portfolio-2.jpg");
  background-size:cover;
  background-position:center;
  background-repeat:no-repeat;
  min-height: 100vh; 
}
h1{
    margin:0;
    color:#f1f1f1;
    text-align:center;
}
.form{
  display:flex;
  justify-content: center;
  align-items:center;
  background-color: #fafafa;
  min-height: 100vh;
  min-width:100vw;
}
#signup-form{
  display:flex;
  justify-content:center;
  flex-direction:column;
  gap: 1rem;
  width:80%;

}
.input, .button{
  height: 3rem;
  border: none;
}
.button{
  background-color: #fbe46f;
  font-size: 16px;
  transition: transform 0.3s ease; 
  border-radius:5px;
}
.button:hover{
  cursor:pointer;
  transform:scale(1.1);
  font-size:18px;
}
p{
    color:#f1f1f1;
}

@media(min-width:900px){
  body{
    font-size: 20px;
  }
  
 
  #signup-form{
    display:flex;
    justify-content:center;
    align-items:center;
  }

  .input, .button{
    height: 3rem;
    width: 60%;
}
}
