* {
  box-sizing: border-box;
}


body{
  margin: 0;
  padding: 0;
 
}
.bg-section {
  background-image:url("/static/core/images/bg-callout.jpg");
  background-size:cover;
  background-position:center;
  background-repeat:no-repeat;
  min-height: 100vh; 
}

.navbar{
  background-color: transparent;
  display: flex;
  max-width: 100vw;
  padding: 0;

}


.nav-details{
  display: flex;
  align-self:center;
  justify-content: space-evenly;
  list-style: none;
  width: 100%;
  
}

.login, .signup{
  width: 50%;
  text-align: center;
  transition: transform 0.3s ease;


}
.login:hover, .signup:hover{
  cursor:pointer;
  transform:scale(1.3);
}

.note{
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
}

h1{
  margin:0;
  text-align: center;
}

.form{
  background-image:url("/static/core/images/portfolio-1.jpg");
  background-size:cover;
  background-position:center;
  background-repeat:no-repeat;
  display:flex;
  justify-content: center;
  align-items:center;
  background-color: #fafafa;
  min-height: 100vh;
  min-width:100vw;
}


#login-form{
  display:flex;
  justify-content:center;
  flex-direction:column;
  gap: 1rem;
  width:80%;

}

#username, #password, .button{
  height: 3rem;
  border: none;
}

.button{
  background-color: #e4a909;
  font-size: 16px;
  transition: transform 0.3s ease; 
}
.button:hover{
  cursor:pointer;
  transform:scale(1.1);
  font-size:18px;
}

@media(min-width:900px){
  body{
    font-size: 20px;
  }
  
 
  #login-form{
    display:flex;
    justify-content:center;
    align-items:center;
  }

  #username, #password, .button{
  height: 3rem;
  width: 60%;
}
}
